<div class="col-md-6 col-md-offset-4">

<div class="jumbotron" style="width:70%;">
        <form>
            <fieldset>
                <legend>Add Contact</legend>
    
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" id="name" class="form-control" ng-model="name"  placeholder="Enter name" required>
                </div>
    
                
                <div class="form-group">
                    <label for="exampleInputPasswd1">Mobile no</label>
                    <input type="number" id="number" class="form-control"  placeholder="Enter number" required>
                </div>
    
    
            </fieldset>
            <button type="submit" class="btn btn-primary" ng-click="click()">Add</button>
            </fieldset>
        </form>
    </div>
    